# Terraformの一時ファイル
.terraform/
.terraform.lock.hcl

# 状態ファイル
*.tfstate
*.tfstate.*
*.tfplan

# ログファイル
crash.log
crash.*.log

# 機密情報を含む可能性のあるファイル
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLIの設定ファイル
.terraformrc
terraform.rc